<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" type="text/css" href="css.css">
</head>

<body>

<form action="/login" method="post">
  <h4> Login Information </h4>
  <input class="name" name="username" type="text" placeholder="Enter Username"/>
  <input class="pw" name="password" type="password" placeholder="Enter Password"/>
  <input class="buttonn" type="Submit" value="Log in"/>
</form>

</body>

</html>


